
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

$primary: #2ecc71;
$dark :#27ae60;
$second: #95a5a6;
$default: #ffffff;

// $primary: #da000d;
// $second: #fe0000;
// $default: #ffffff;
// $dark :#960202;
$path: '../images/';
 