
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$break-small: 530px;
$break-large: 1200px;


/* Color Web */
$default-bg: #ecf0f1;

$color-text:#847676;
$white :#fff;
$btn-action: #000;
$bg-line:#000;
$icon:#656565;

$path: '../images/';